.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 16%;
  background: #8585851c;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 50px 0;
  border-bottom: solid 1px #fff;
}
.left-header-nav {
  display: flex;
  align-items: center;
}
.header-nav-tittle {
  font-size: 20px;
}
.nav-list {
  padding-top: 30px;
}
.sidebar ul li {
  height: 60px;
  list-style: none;
}
.sidebar ul li a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.logo {
  margin: 0 40px 0 10px;
  font-size: 20px;
}

.log-out {
  display: flex;
  align-items: center;
}
.profile {
  position: absolute;
  bottom: 20px;
}
.profile-name {
  padding-left: 10px;
}
.search-bar {
  display: flex;
  margin-left: -67px;
}
.sidebar input {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 260px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #4a4a4b;
  padding-left: 50px;
}
.search-logo {
  position: relative;
  top: 15px;
  left: 67px;
}
